<div style="display: flex; flex-direction: column; gap: 20px; height: 100vh; align-items: center; justify-content: center">
    <button class="btn btn-prim">Primary btn</button>
    <button class="btn btn-sec">Secondary btn</button>
    <button class="btn btn-icon temp"></button>
    <form #formTest="ngForm">
        <div class="ipt-field">
            <label for="email">e-Mail</label>
            <input type="email" required ngModel name="email" #email>
            <span>Error massage</span>
        </div>
        <div class="ipt-field">
            <label for="temp">Textfeld</label>
            <input type="text" ngModel name="temp" #temp>
        </div>
        <div class="ipt-field">
            <label for="datepicker">Select a date:</label>
            <input type="date" id="datepicker" ngModel name="datepicker" #datepicker required>
            <span>Error massage</span>
        </div>
        <div class="ipt-field ipt-radio-group">
            <input type="radio" name="radio" #radio1 id="radio1" checked>
            <label for="radio1">Option1</label>
            <input type="radio" name="radio" #radio1 id="radio2">
            <label for="radio2">Option2</label>
            <input type="radio" name="radio" #radio1 id="radio3">
            <label for="radio3">Option3</label>
        </div>

    </form>
    <div class="ipt-field">
        <label for="txt">Textfeld</label>
        <input class="ipt" type="email" placeholder="without form" #txt>
    </div>
</div>

