@import './../../../shared/styles/include.scss';

.wrapper-header{
    display: flex;
    align-items: center;
    gap: 48px;
    padding: 24px;
    > .header-board-info{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
        flex-grow: 2;
        > h1{
            margin: 0;
        }
        > .header-user-list{
            display: flex;
            align-items: center;
            gap: 8px;
            > div {
                position: relative;
                > span{
                    position: absolute;
                    display: none;
                    bottom: 0;
                    transform: translate(-50%, calc(100% + 5px));;
                    left: 50%;
                    background-color: $grey-middle;
                    padding: 8px;
                    border-radius: 3px;
                    text-wrap: nowrap;
                    font-size: 14px;
                }
                &:hover > span{
                    display: flex;
                }
            }
        }
    }
}