<div class="wrapper-header">
    <div class="header-board-info">
        <div class="wrapper-board-name">
            <button (click)="deleteBoard()" class="btn btn-icon delete"></button>
            <h1>{{ selectedBoard().name }}</h1>
        </div>
        <div class="header-user-list">
            @for (user of selectedBoard().members; track user; let idx=$index) {
                <div>
                    <input class="ipt-cb-userchip" type="checkbox" name="" id="{{ 'user' + idx}}">
                    <label class="user-initials" for="{{ 'user' + idx}}">{{ user.initials }}</label>
                    <span>{{ user.name + ' ' + user.surename }}</span>
                </div>
            }
        </div>
    </div>
    <button (click)="logout()" class="btn btn-sec">Logout</button>
</div>
