<div class="wrapper-toolbar">
    <button class="btn btn-prim">Add Task</button>
    <div class="ipt-field wrapper-search-field">
        <input class="ipt" type="email" placeholder="search for a task" #txt>
        <!-- <button class="btn btn-sec">search</button> -->
        <button class="btn btn-icon btn-search"></button>
    </div>
    <div class="wrapper-toolbar-btn-right">
        <button class="btn btn-icon btn-add-member"></button>
        <button (click)="addCategory()" class="btn btn-icon btn-add-category"></button>
    </div>
</div>
