<div (click)="editTask()" class="task-card">
    <div class="task-card-header">
        <h2>{{task.title}}</h2>
        <span [style]="{backgroundColor: task.label.color}">{{task.label.name}}</span>
    </div>
    <span class="task-card-description">{{task.description}}</span>
    <div class="task-card-details">
        <div class="task-card-duedate-wrapper">
            <span>Due Date:</span>
            <span [class.due-date-passed]="isDueDatePassed()">{{task.dateToString(task.dueDate)}}</span>
        </div>
        <div class="task-card-priority-wrapper">
            <div [ngClass]="{low: task.priority === 'low', medium: task.priority === 'medium', high: task.priority === 'high'}"></div>
        </div>
    </div>
    <span>{{'Assigned to: ' + task.assignedTo.name + ' ' + task.assignedTo.surename}}</span>
</div>
