@import '../../../shared/styles/include.scss';

.login-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //width: 450px;
    background-color: $grey-middle;
    border-radius: 20px;
    padding: 75px 120px;
    > form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        background-color: transparent;
        width: 100%;
        > span{
            color: $txt-sec;
            font-size: 14px;
            background-color: transparent;
            width: 100%;
        }
        > .msg-login-wrong{
            display: none;
            color:$err-red;
        }
        > .show-err-msg-login{
            display: flex;
        }

        > .btn-group{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 64px;
            background-color: transparent;
            width: 100%;
            > button{
                width: 150px;
            }
        }
    }
}