@import '../../../shared/styles/include.scss';

.signin-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grey-middle;
    border-radius: 20px;
    padding: 75px 120px;
    > form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        background-color: transparent;
        width: 100%;
        > span{
            color: $txt-sec;
            font-size: 14px;
            background-color: transparent;
            width: 100%;
        }
        > .btn-group{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            background-color: transparent;
            width: 100%;
        }
        > .msg-pw-missmatch{
            display: flex;
            color: $err-red;
        }
    }
    > .btn-icon{
        position: absolute;
        mask-image: url('./../../../assets/icons/arrow_left.svg');
        width: 30px;
        aspect-ratio: 1;
        right: 30px;
        top: 30px;
    }
}