
.btn{
    cursor: pointer;
    border: none;
    padding: 10px 12px;
    border-radius: 5px;
    &:disabled{
        cursor: auto;
        background-color: $grey-light !important;
        color: $txt-sec !important;
        border: 1px $grey-hover solid !important;
    }
}

.btn-prim{
    background-color: $prim-color;
    color: $txt-dark;
    &:hover{
        background-color: $prim-color-hover;
        transition: all $hover-trans-time ease-in-out;
    }

}

.btn-sec{
    background-color: transparent;
    border: 1px $sec-color solid;
    color: $sec-color;
    &:hover{
        color: $txt-dark;
        background-color: $sec-color-hover;
        transition: all $hover-trans-time ease-in-out;
    }
}

.btn-icon{
    background-color: $txt-sec;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: contain;
    min-width: unset;
    width: 40px;
    aspect-ratio: 1;
    &:hover{
        background-color: $prim-color-hover;
        transition: all $hover-trans-time ease-in-out;
    }
}

.btn-tab{
    border-radius: 0;
    color: $txt-sec;
    border-left: 2px transparent solid;
    font-size: 18px;
    &:hover{
        color: $sec-color;
        transition: all $hover-trans-time ease-in-out;
    }
}

.btn-tab.active-tab{
    border-left: 2px $acc-color solid;
}