$grey-dark: #1A1A1A;
$grey-middle: #2C2C2C;
$grey-light: #333333;

$grey-hover: #3A3A3A;

$txt-prim: #E0E0E0;
$txt-sec: #A0A0A0;
$txt-err: #FF6F61;
$txt-dark: black;

$prim-color: #2ECC71;
$prim-color-hover: #48E68B;

$sec-color: #3498DB;
$sec-color-hover: #5DADE2;

$acc-color: #F39C12;
$acc-color-hover: #F7B731;

$err-red: #B22222;
$err-red-hover: #D32F2F;