.ipt-field{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: transparent;
    width: 100%;
    > input, textarea{
        background-color: $grey-light;
        border: none;
        outline: none;
        color: $txt-sec;
        padding: 12px 12px;
        border-radius: 5px;
        border-bottom: 1px transparent solid;
        font-size: 16px;
        &:hover{
            background-color: $grey-hover;
        }
        &:focus{
            background-color: $grey-hover !important;
            border-color: $acc-color !important;
            transition: all $hover-trans-time ease-in-out;
        }
    }
    > textarea{
        resize: none;
        //todo add font family
    }
    > label{
        background-color: transparent;
        color: $txt-sec;
        font-size: 16px;
    }
    > span{
        display: none;
        color: $err-red;
        font-size: 14px;
        background-color: transparent;
    }
}


.ng-valid:required{
        border-color: $prim-color !important;
        color: $txt-prim !important;
}

.ng-dirty.ng-invalid:not(:focus){
    border-color: $err-red !important;
    ~ span{
        display: flex;
    }
}

.ipt-radio-group{
    display: flex;
    flex-direction: row;
    gap: 8px;
    >label{
        cursor: pointer;
        padding: 10px 12px;
        border-radius: 5px;
        background-color: $grey-hover;
        flex-grow: 1;
        text-align: center;
        &:hover{
            background-color: $acc-color !important;
            color: $txt-dark;
            transition: all $hover-trans-time ease-in-out;
        }
    }
    >input {
        display: none;
        &:checked + label{
            background-color: $sec-color;
            color: $txt-dark;
        }
    }
}

.ipt-cb{
    display: none;
    ~ label{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px transparent solid;
        color: $txt-sec;
        background-color: $grey-middle;
        &:hover{
            transition: all $hover-trans-time ease-in-out;
            border: 1px $acc-color solid;
        }
    }
    &:checked + label{
        border-color: $sec-color-hover;
    }
}

.ipt-cb-label-userchip{
    width: 42px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.ipt-cb-label-userselect{
    padding: 24px 32px;
    border-radius: 5px;
    justify-content: flex-start !important;
}


.ipt-dropdown{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    > .ipt-dd-label{
        color: $txt-sec;

    }
    > .ipt-dd-selection{
        position: relative;
        display: flex;
        align-items: center;
        > span{
            flex-grow: 2;
            background-color: $grey-light;
            color: $txt-sec;
            padding: 12px 12px;
            border-radius: 5px;
            border-bottom: 1px transparent solid;
            font-size: 16px;
            padding-right: 32px;
        }
        > button{
            position: absolute;
            right: 8px;
            mask-image: url('./../../assets/icons/dropdown.svg');
            width: 24px;
        }
    }
    > .dropdown-menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: $grey-light;
        border-radius: 5px;
        padding: 8px;
        display: none;
        flex-direction: column;
        gap: 8px;
        max-height: 150px;
        overflow: auto;
        z-index: 5;
        > .dropdown-item{
            background-color: transparent;
            > label{
                padding: 8px 12px;
                background-color: $grey-light;
                border-radius: 5px;
                justify-content: flex-start;
            }
        }
        &.show{
            display: flex;
        }
    }
}


