<div class="wrapper-overlay">
    <div class="wrapper-ovly-control">
        <button (click)="toggleOverlay()" class="btn btn-icon" [class.ovly-closed]="!showOverlay()"></button>
    </div>
    <div class="ovly-content">
        @switch (overlayType()) {
            @case ('addMember'){<app-add-member></app-add-member>}
            @case ('addTask'){<app-task [taskOverlayType]="'create'"></app-task>}
            @case ('editTask'){<app-task [taskOverlayType]="'edit'"></app-task>}
            @default{<app-task></app-task>}
        }
    </div>
</div>


