<div class="board">
    @for (category of categories(); track $index) {
        <div class="wrapper-category">
            <div class="category-header">
                <input (focus)="category.notUpdatedOnSercer = true" type="text" [(ngModel)]="category.name" [class.show-unsaved-changes]="category.notUpdatedOnSercer">
                @if (category.notUpdatedOnSercer) {
                    <button (click)="changeCategoryName(category)" class="btn btn-icon btn-upload"></button>
                } @else {
                    <button (click)="deleteCategory(category)" class="btn btn-icon delete btn-delete"></button>
                }
            </div>
            <div class="tasklist">
                @for (task of getTasksByCategory(category); track task) {
                    <app-task-card [task]="task"></app-task-card>
                }
            </div>
        </div>
    }
</div>
